scripts/n8n-onedrive-backup-workflow.json
{
  "name": "OneDrive Backup-Export",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Taeglich 06:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "command": "ls -t /backups/daily/*.dump 2>/dev/null | head -1"
      },
      "id": "find-latest",
      "name": "Neuestes Backup finden",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-file",
              "leftValue": "={{ $json.stdout.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "backup-exists",
      "name": "Backup vorhanden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "functionCode": "const staticData = $getWorkflowStaticData('global');\nconst latestFile = $input.first().json.stdout.trim();\nconst lastUploaded = staticData.lastUploadedFile || '';\n\nif (latestFile === lastUploaded) {\n  return [{ json: { skip: true, reason: 'Bereits hochgeladen: ' + latestFile } }];\n}\n\nstaticData.lastUploadedFile = latestFile;\nconst filename = latestFile.split('/').pop();\nreturn [{ json: { skip: false, filePath: latestFile, filename } }];"
      },
      "id": "check-new",
      "name": "Schon hochgeladen?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-new",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-new-backup",
      "name": "Neues Backup?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "command": "={{ 'cat ' + $json.filePath }}",
        "options": {}
      },
      "id": "read-file",
      "name": "Backup lesen",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1320, 100],
      "parameters_override": {
        "filePath": "={{ $('Schon hochgeladen?').item.json.filePath }}"
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "fileName": "={{ $('Schon hochgeladen?').item.json.filename }}",
        "parentPath": "/Backups/WPM"
      },
      "id": "onedrive-upload",
      "name": "OneDrive Upload",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [1540, 100],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Microsoft OneDrive"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "summary",
              "value": "={{ 'Backup hochgeladen: ' + $('Schon hochgeladen?').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success",
      "name": "Erfolgreich",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "skip-msg",
              "name": "summary",
              "value": "={{ $json.reason || 'Kein neues Backup' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "already-uploaded",
      "name": "Bereits hochgeladen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "no-backup",
              "name": "summary",
              "value": "Kein Backup-Dump in /backups/daily/ gefunden",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-backup",
      "name": "Kein Backup",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 500]
    }
  ],
  "connections": {
    "Taeglich 06:00": {
      "main": [
        [
          {
            "node": "Neuestes Backup finden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neuestes Backup finden": {
      "main": [
        [
          {
            "node": "Backup vorhanden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup vorhanden?": {
      "main": [
        [
          {
            "node": "Schon hochgeladen?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Kein Backup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schon hochgeladen?": {
      "main": [
        [
          {
            "node": "Neues Backup?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neues Backup?": {
      "main": [
        [
          {
            "node": "Backup lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Bereits hochgeladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backup lesen": {
      "main": [
        [
          {
            "node": "OneDrive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive Upload": {
      "main": [
        [
          {
            "node": "Erfolgreich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "global": {
      "lastUploadedFile": null
    }
  },
  "tags": [
    {
      "name": "OneDrive"
    },
    {
      "name": "Backup"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
