scripts/n8n-onedrive-import-workflow.json
{
  "name": "OneDrive Eingangsrechnungen-Import",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Taeglich 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "folderPath": "/WindparkManager/Import"
      },
      "id": "list-files",
      "name": "OneDrive Dateien auflisten",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [440, 300],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Microsoft OneDrive"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            },
            {
              "id": "is-file",
              "leftValue": "={{ $json.file ? true : false }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-files",
      "name": "Nur Dateien",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "summary",
              "name": "summary",
              "value": "Keine neuen Dateien im Import-Ordner",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-files",
      "name": "Nichts zu tun",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 500]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 1
      },
      "id": "split-batches",
      "name": "Je Datei",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [880, 200]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "download",
        "fileId": "={{ $json.id }}"
      },
      "id": "download-file",
      "name": "Datei herunterladen",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [1100, 200],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Microsoft OneDrive"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:3050/api/inbox",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "source",
              "value": "onedrive"
            },
            {
              "name": "originalFilename",
              "value": "={{ $('Je Datei').item.json.name }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "upload-to-inbox",
      "name": "In WPM Posteingang",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_ME",
          "name": "WPM API Key"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "move",
        "fileId": "={{ $('Je Datei').item.json.id }}",
        "parentPath": "/WindparkManager/Import/Verarbeitet"
      },
      "id": "move-to-processed",
      "name": "Nach Verarbeitet verschieben",
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [1540, 200],
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "REPLACE_ME",
          "name": "Microsoft OneDrive"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "wait-1s",
      "name": "1s Pause",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, 200],
      "webhookId": "pause-rate-limit"
    }
  ],
  "connections": {
    "Taeglich 08:00": {
      "main": [
        [
          {
            "node": "OneDrive Dateien auflisten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneDrive Dateien auflisten": {
      "main": [
        [
          {
            "node": "Nur Dateien",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nur Dateien": {
      "main": [
        [
          {
            "node": "Je Datei",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nichts zu tun",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Je Datei": {
      "main": [
        [
          {
            "node": "Datei herunterladen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datei herunterladen": {
      "main": [
        [
          {
            "node": "In WPM Posteingang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "In WPM Posteingang": {
      "main": [
        [
          {
            "node": "Nach Verarbeitet verschieben",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nach Verarbeitet verschieben": {
      "main": [
        [
          {
            "node": "1s Pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1s Pause": {
      "main": [
        [
          {
            "node": "Je Datei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "OneDrive"
    },
    {
      "name": "Import"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}
